<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>


    <main>
       
       <form action="/create" method="POST">
            <div>
                <label for="nombre">Ingrese Nombre</label>
                <input type="text" name="nombre" id="nombre" placeholder="Ejemplo Número_nombre" required>
            </div>

            <div>
                <label for="valor">Ingrese Valor</label>
                <input type="number" name="valor" id="valor" placeholder="Ejemplo 1" required>
            </div>

            <div>
                <label for="imagen">Ingrese Nombre archivo imagen</label>
                <input type="text" name="imagen" id="imagen" placeholder="Ejemplo nombre.png" required>
            </div>

            <div>
                <label for="tipo">Ingrese Tipo de Número</label>
                <input type="text" name="tipo" id="tipo" placeholder="Ejemplo par / impar" required>
            </div>

            <div>
                <button type="submit">Guardar</button>
            </div>

       </form>
        
        
    </main>

   <%- include('./partials/footer')%>

</body>
</html>