<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header>
        <h2>ESTO ES HEADER</h2>
    </header>

    <main>
       <h1>ESTOS SON NUMEROS</h1>
       <section class="section">
            <article class="article">
                <div class="imagen">
                    <img src="/images/cero.png" alt="">
                </div>
                <div class="info">
                    <h4>Número_Cero</h4>
                    <span>Valor = 0</span>
                </div>
            </article>
            <article class="article">
                <div class="imagen">
                    <img src="/images/uno.png" alt="">
                </div>
                <div class="info">
                    <h4>Número_Uno</h4>
                    <span>Valor = 1</span>
                </div>
            </article>
            <article class="article">
                <div class="imagen">
                    <img src="/images/dos.png" alt="">
                </div>
                <div class="info">
                    <h4>Número_Dos</h4>
                    <span>Valor = 2</span>
                </div>
            </article>
            <article class="article">
                <div class="imagen">
                    <img src="/images/tres.png" alt="">
                </div>
                <div class="info">
                    <h4>Número_Tres</h4>
                    <span>Valor = 3</span>
                </div>
            </article>
       </section> 
    </main>

    <footer>
        <h2>ESTO ES FOOTER</h2>
    </footer>


</body>
</html>