<article class="article">
    <div class="imagen">
        <img src="/images/<%= number.imagen %>" alt="">
    </div>
    <div class="info">
        <h4><%= number.nombre %></h4>
        <span>Valor = <%= number.valor %></span>
    </div>
  </article>