
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main h1 {
    text-align: center;
}

.section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;

}

.article{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px solid purple;
    box-shadow: 4px 4px 2px blue;
    border-radius: 10px;
}

.imagen{
    display: flex;
    justify-content: center;
    width: 90%;
    border-bottom: 2px solid red;
    margin-bottom: 5px;
}
